@font-face { font-family: daysone; src: url('../font/DaysOne-Regular.ttf'); }
@font-face { font-family: inter; src: url(../font/Inter.ttf);}

  body{
        margin: 0;
        padding: 0;
    }
    /*HEADER*/
    header{
        display: flex;
        flex-wrap: wrap;
        font-family: inter;
        width: 100%;
    }
    header body{
        font-family: daysone;
    }
    header .haut{
        display: flex;
        align-items: center;
        background-color: #1F4F51;
        width: 100%;
        flex-wrap: nowrap;
        height: fit-content;
        justify-content: center;
        
        
    }
    header h1{
        font-family: daysone;
        color: #FFD365;
        flex-grow: 0;
        margin-left: 140px;
        position: absolute;
        left: 0;
    }
    
    header .searchbar>form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 10px;
    }
    header .icones{
        justify-content: flex-end;
        flex-grow: 4;
    }
    
    header .searchbar {
        height: 50px;
        display: flex;
        align-items: center;
        margin: 20px 30% 15px 35%;
        width: 40%;
        background-color: white;
        height: 40px;
        border-radius: 20px;
    }
    
    
    header .searchbar .txtbar{
        width: 90%;
        border: none;
        height: 23px;
        border-radius: 20px 0 0 20px;
        padding-left: 10px;
    }
    
    header .logo{
        width: 100px;
        margin-left: 25px;
        position: absolute;
        top: 20px;
        left: 0;
        filter: drop-shadow(0 5px 0.5rem black);
        
    }
    header .logo:hover{
      animation: logoanim 0.8s ease-in-out infinite;
    }
    @keyframes logoanim {
      100%{
        transform: rotate(-360deg);
      }
     

    }
    header .connexion{
        width: 50px;
        padding: 0 15px;
    }
    header .panier{
        width: 50px;
        padding: 15px;
    }
    header nav{
        background-color: rgba(31, 79, 81, 0.9);
        width: 100%;
    }
    header nav ul{
        text-transform:uppercase;
        list-style-image: none;
        list-style-type: none;
        display:flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        padding: 0;
        margin: 15px;
        align-items: center;
    }
    header nav ul li a:hover{
      border-bottom: #FFD365 solid 2px;
    }
    header nav a{
      color: white;
      
    }
    
    header a{
        text-decoration: none;
        color:#FFD365;
    }
    header li a{
        text-align:center;
        padding: 10px;
        font-family: daysone;
        font-size: 15px;
        
    }

    header .logend{
      display: flex;
      flex-direction: row;
      align-self: end;
      position: absolute;
      right: 0;
      align-items: center;
    }
    
     .nombrepanier{
        position: absolute;
        border-radius: 1em;
        
        background-color: #FFD365;
        padding: 0.1em;
        
        padding-left: 0.3em;
        padding-right: 0.3em;
        
        right: 0; 
        bottom: 0px;
    
        color: black;
    }
    
    header .iconprof{
        width: 64px;
        padding-right: 15px;
    }
/********drop button categorie********/
    header .dropbtncate{
      color: white;
      background-color:transparent;
      padding: 5px;
      font-size: 16px;
      border: none;
      font-family: daysone;
      text-transform: uppercase;
    }
    header .dropcategorie{
        margin-left: 4%;
        position: relative;
        display: inline-block;
      
    }
    header .dropcategoriehover{
      display: none;
      position: absolute;
      background-color: #f1f1f1;
    
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    header .dropcategoriehover a{
      color: black;
      text-decoration: none;
      display: block;
      font-size: 20px;
      
    }
    

    header .dropcategoriehover a:hover{
      background-color: #ddd;
    }

    header .dropcategorie:hover .dropcategoriehover{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:flex-start;
      height: 400px;
      width: 700px;
      text-align: start;
      box-sizing: border-box;

    }
    header .dropcategorie:hover .dropbtncate{
      background-color: rgba(31, 79, 81, 0.9);
    }

    header .dropcategoriehover>li{
      padding: 20px;
    }

    header li>ul{
      justify-content: end;
    }

    header .categ{
      width: 120%;
      text-align: start;
      padding: 0;
    }
    header .souscat{
      display: flex;
      flex-direction: column;
    }

    header .souscateg{
      font-family: inter;
      text-transform: capitalize;
      padding: 0;
      margin: 0;
      text-align: start;
      
    }

/**drop connexion************/

    header .dropconnexion{
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      right: 0;
    }

    header .dropconn:hover .dropconnexion{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:space-evenly;
      height: 150px;
      width: 230px;
      text-align: start;
      box-sizing: border-box;
      text-align: center;
      padding: 2%;
      
    
    }

    header .dropconnexion a{
      background-color: #1F4F51;
      padding: 15px;
      height: 20%;
      width: 136px;
      cursor: pointer;
      margin: 10px;
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    header .dropconnexion a:hover{
      background-color: #FFD365;
      color: #1F4F51;
    }
    header .bouton{
      font-size: 100%;
      background-color: #1F4F51;
      color: #FDD365;
      padding: 15px;
      border-radius: 2em;
      text-align: center;
      border: none;
      text-decoration: none;
      cursor: pointer;
      width: 169px;
      margin: 10px;
  }
  header .bouton:hover{
    background-color: #FDD365;
    color: #1F4F51;
}


header .dropprofil{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}
header .dropconn:hover .dropprofil{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  height: 226px;
  width: 230px;
  text-align: start;
  box-sizing: border-box;
  text-align: center;
  padding: 2%;
  

}

header .dropprofil a{
  background-color: #1F4F51;
  padding: 15px;
  height: 20%;
  width: 136px;
  margin: 10px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .dropprofil a:hover{
  background-color: #FFD365;
  color: #1F4F51;
}

/******MOBILE VERSION***********************/

@media (min-width:601px) {
    header .navbar{
        display: none;
    }
}

@media (max-width:600px){
  header .haut{
    justify-content: flex-start;
  }
  header h1{
    display: none;
  }
  header .logo{
    display: none;
  }
  header .searchbar {
    
    margin: 20px 10% 20px 20%;
    
  }
    header .panierdiv{
        display: none;
    }
    header .connexion{
        display: none;
    }
    header .iconprof{

      display: none;
    }
    header .panier{
      display:none;
    }
    header .nombrepanier{
      display: none;
    }

    header > nav{
        display: none;
    }
    header nav ul{
        justify-content:initial;
    }

    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ///////////..utility classes../////////// */

.container {
  
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: small;
}

.btn-primary {
  color: #fff;
  background: #16a083;
}

.btn-primary:hover {
  background: #117964;
  transition: background 0.3s ease-in-out;
}

/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {

  
  width: 9%;
  color: rgb(233, 0, 0);

  
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #1F4F51;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #16a083;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}



/* ......../ media query /.......... */

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20%;
    left: 20%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #FFD365;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    width: 700%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: -40px;
    
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 3rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  /* ......./ food /......... */

  .food-container {
    flex-direction: column;
    align-items: stretch;
  }

  .food-type:not(:last-child) {
    margin-bottom: 3rem;
  }

  .food-type {
    box-shadow: 5px 5px 10px 0 #aaa;
  }

  .img-container {
    margin: 0;
  }
}



@media (min-width: 769px) and (max-width: 1200px) {
  .img-container h3 {
    font-size: 1.5rem;
  }

  .img-container .btn {
    font-size: 0.7rem;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .showcase-area {
    height: 50vmax;
  }
}
    
}
