@font-face { font-family: daysone; src: url('../font/DaysOne-Regular.ttf'); }
@font-face { font-family: inter; src: url('../font/Inter.ttf'); }

body{

    font-size: 15px;
    font-family: 'inter';
    background-color: rgb(253, 253, 253);
}

main{
    height: 60vh;
}
main .detail{
    width: 70%;
    height: 25em;
    background-color: white;
    border-radius: 1em;
    
    text-align:left;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 5%;
    align-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 10px black;
    
}
main .detail span{
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    margin-left: 3%;
    display: flex;
    flex-direction:column;
}

main{
    display: flex;
    justify-content: center;
}
main .centre{
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
    
    width: 90%;
}

main .boutons{
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    
    
    

}

main .bouton form{
    width: fit-content;
}
main .bouton{
    font-size: 20px;
    background-color: #1F4F51;
    color: #FDD365;
    padding: 5%;
    border-radius: 2em;
    width: 80%;
    margin-bottom: 1em;
    margin-left: 3em;
    text-align: center;
    border: none;
    text-decoration: none;
    cursor: pointer;
}


main .boutons input{
    font-size: 103%;
    width: 87%;
}
main .bouton:hover{
    background-color: #FDD365;
    color: #1F4F51;
}
main div a{
    text-decoration: none;
    color: #FDD365;
}

 .tit{
    text-align: center;
    justify-content: center;
}

main #popValCom{
    display: none;
    background-color: #ffffff;
    width: 35em;
    height: 35em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: solid 1px #1F4F51;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    
    
}
main #titrePop{
    display: flex;
    justify-content: center;
    flex-direction: row;
    top :20px;
    background-color: #ffffff;
    
    margin: 15px;
    justify-content: space-around;
    align-items:center;
    border: solid 1px #1F4F51;

}
main .divPopUp{
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
}

main .fermer{
    font-weight: bold;
    font-size: 15px;
    height: 40px;
    background-color: #1F4F51;
    margin: 1em;
    padding: 5px 30px 5px 30px;
    border: none;
    color: #FDD365;
    border-radius: 25px;
    width: 30%;
    align-items: center;
    align-self: center;
    justify-content: center;
}
main .fermer:hover{
    background-color: #FDD365;
    color: #1F4F51;
}

main .conInsc{

    font-weight: bold;
    font-size: 15px;
    height: 20px;
    background-color: #1F4F51;
    margin-top: 1%;
    padding: 5px 30px 5px 30px;
    border: none;
    color: #FDD365;
    border-radius: 25px;
    width: 30%;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-decoration: none;
    margin: 1em;
    }
    
main .conInsc:hover{
    background-color: #FDD365;
    color: #1F4F51;
}

main .deuxbout{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
