@font-face { font-family: daysone; src: url('../font/DaysOne-Regular.ttf'); }
@font-face { font-family: inter; src: url(../font/Inter.ttf);}



body{
    background-color: white;
    height: 80vh;
}

main {
    font-family: ubuntuB;
    margin-top: 3em;
    background-color: white;
    min-height: 80vh;
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    align-items: center;
    min-width: 300px;
    max-width: 300px;

}

main .titre{
    background: none;
    border: none;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}




main p{
    width: 100%;
    text-align: center;
}


main .itemPromu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    border-radius: 1em;
    width: 1%;
    margin-bottom: 30px;
    transition: transform .1s;
    max-width: 100%;
    margin: 40px;
}

main .objet{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
main div{
    display: flex;
}
main label {
    margin: 10px;
}
main .itemPromu:hover{
    transform: scale(1.1);
}


main .erreur{
    color: red;
}
main .itemPromu figure img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

main .bout{
    display: flex;
    align-items: right;
    height: 40%;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #1F4F51;
    color: #FDD365;
    border : none;
    justify-items: right;
    font-weight: bold;
    cursor: pointer;
}

main .bouton{

    padding: 10px;
    border-radius: 20px;
    background-color: #1F4F51;
    color: #FDD365;
    border : none;
    justify-items: center;
    font-weight: bold;
    cursor: pointer;
}


main .bout:hover{
    background-color: #FDD365;
    color: #1F4F51;
    border : none;

}
main form{
    text-align: center;

}
main #formuProm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main .ligne_form {
    margin-top: 0px;
}

main .liste_articles {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 0px;
}

main select {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5px;
    width: fit-content;
}

/*@media only screen and (max-width: 1500px){
    main .item figure img{
        width: 100px;
        height: 100px;
    }
    main .itemPromu figure img{
        width: 100px;
        height: 100px;
    }

    main> div{
        flex-wrap: wrap;
    }

    main section{
        flex-wrap: wrap;
    }
}*/

@media only screen and (max-width: 600px){
    main .item figure img{
        width: 150px;
        height: 150px;
    }
    main .itemPromu figure img{
        width: 150px;
        height: 150px;
    }

    main .article1{
        flex-wrap: wrap;
    }

    main .bout{
        height: 10%;
        width: 100%;
    
    }

    main section{
        width: 50%;
    }

}
